{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="{% static 'app/frm/bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/svg.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/widget.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/port.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/ui.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <!-- Brand -->
            <div class="navbar-header">
                <a class="navbar-brand">VisFrame</a>
            </div>
            <!-- Menu -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav"></ul>
                <!-- User Infomation -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main Content -->
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <!-- Side Panel -->
                <div class="col-md-2">
                    <div class="side-panel">
                        <!-- Module & Element Panel -->
                    </div>
                </div>
                <!-- SVG Canvas -->
                <div class="col-md-10">
                    <svg id="vis-svg-canvas" width="1560" height="880">
                        <foreignObject>
                            <div id="vis-widget-canvas"></div>
                        </foreignObject>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'app/frm/jquery-3.1.1/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/frm/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/frm/d3-4.3.0/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/frm/mustache-2.3.0/mustache.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/index.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/js/svg.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/html.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/network.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/panel.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/module.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/element.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/attr.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/control.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/port.js' %}"></script>

    <script id="vis-template-main" type="text/html">{% include 'app/panels/main.html' %}</script>
    <script id="vis-template-panel" type="text/html">{% include 'app/panels/panel.html' %}</script>
</body>
</html>
