{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="{% static 'app/frm/bootstrap-3.3.7/css/bootstrap.min.css' %}">
</head>
<body>
    <div id="content">
        Test
    </div>
    <script type="text/javascript" src="{% static 'app/frm/jquery-3.1.1/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/frm/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/frm/d3-4.3.0/d3.min.js' %}"></script>
</body>
</html>
