<div class="side-panel-category">
    <div class="side-panel-heading">
        <h4>Data Module</h4>
    </div>
    <div class="side-panel-body">
        <div class="side-panel-box" data-module="DataSource"><span>Source</span></div>
        <div class="side-panel-box" data-module=""><span>Table</span></div>
    </div>
</div>
<div class="side-panel-category">
    <div class="side-panel-heading">
        <h4>Visualization Module</h4>
    </div>
    <div class="side-panel-body">
        <div class="side-panel-box" data-module="CustomView"><span>Custom</span></div>
        <div class="side-panel-box" data-module="Scatterplot"><span>Scatter</span></div>
        <div class="side-panel-box" data-module="Parallel"><span>Parallel</span></div>
        <div class="side-panel-box" data-module="BarChart"><span>Bar</span></div>
    </div>
</div>
<div class="side-panel-category">
    <div class="side-panel-heading">
        <h4>Encoding Module</h4>
    </div>
    <div class="side-panel-body">
        <div class="side-panel-box" data-module=""><span>Color</span></div>
        <div class="side-panel-box" data-module=""><span>Size</span></div>
    </div>
</div>
