<h3>Modules</h3>
<div class="side-panel-content">
    <div class="side-panel-category">
        <div class="side-panel-heading">
            <h4>Data Module</h4>
        </div>
        <div class="side-panel-body">
            <div class="side-panel-box" data-module="data-source"><span>Source</span></div>
        </div>
    </div>
    <div class="side-panel-category">
        <div class="side-panel-heading">
            <h4>Visualization Module</h4>
        </div>
        <div class="side-panel-body">
            <div class="side-panel-box" data-module="custom-view"><span>Custom</span></div>
            <div class="side-panel-box" data-module="scatter-plot"><span>Scatter</span></div>
        </div>
    </div>
    <div class="side-panel-category">
        <div class="side-panel-heading">
            <h4>Encoding Module</h4>
        </div>
        <div class="side-panel-body">
            <div class="side-panel-box" data-module=""><span>Color</span></div>
            <div class="side-panel-box" data-module=""><span>Size</span></div>
        </div>
    </div>
</div>
