{% verbatim %}
<div id="{{ id }}" class="side-panel-container" data-module="{{ module }}">
    <h3>Module Elements</h3>
    <div class="side-panel-content">
        {{ #elements }}
        <div class="side-panel-category" data-element="{{ id }}" data-type="{{ type }}">
            <div class="side-panel-heading">
                <h4>{{ text }} : {{ type }}</h4>
            </div>
            <div class="side-panel-body">
                {{ #attrs }}
                <div class="side-panel-box {{ #checked }}checked{{ /checked }}" data-attr="{{ name }}">
                    <span>{{ text }}</span>
                </div>
                {{ /attrs }}
                {{ ^attrs }}
                There is no available ports for this element.
                {{ /attrs }}
            </div>
        </div>
        {{ /elements }}
        {{ #custom }}
        Custom module element addition here.
        {{ /custom }}
    </div>
</div>
{% endverbatim %}
