<div class="side-panel-category">
    <div class="side-panel-heading">
        <h4>Axis X</h4>
    </div>
    <div class="side-panel-body">
        X axis ports displayed here.
    </div>
</div>
<div class="side-panel-category">
    <div class="side-panel-heading">
        <h4>Axis Y</h4>
    </div>
    <div class="side-panel-body">
        Y axis ports displayed here.
    </div>
</div>
<div class="side-panel-category">
    <div class="side-panel-heading">
        <h4>Circle</h4>
    </div>
    <div class="side-panel-body">
        Circle ports displayed here.
    </div>
</div>
