/**
 * Side Panel
 */
.side-panel {
    border: 1px #dddddd solid;
    margin: auto 0;
    padding: 0 15px 15px 15px;
}

.side-panel-content {
}

.side-panel h3 {
    margin: 15px 0 15px 0;
    font-size: 20px;
    text-align: center;
}

.side-panel-category {
    border: 1px solid #dddddd;
}

.side-panel-category + .side-panel-category {
    margin-top: 10px;
}

.side-panel-category > .side-panel-heading {
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-bottom: 1px solid #dddddd;
}

.side-panel-category .side-panel-heading h4 {
    font-size: 16px;
    margin: 0 auto;
}

.side-panel-category .side-panel-body {
    padding: 15px 15px 8px 15px;
}

.side-panel-body .side-panel-box {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #dddddd;
    margin: 3px 3px 20px 3px;
    background: rgb(240, 240, 240);
}

.side-panel-body .side-panel-box:hover {
    border: 1px solid red;
}

.side-panel-body span {
    position: absolute;
    width: 60px;
    text-align: center;
    top: 60px;
}

/**
 * Canvas
 */
#vis-svg-canvas {
    margin: auto;
}

#vis-widget-canvas {
    position: relative;
}
