.vis-port {
    position: absolute;
    cursor: pointer;
    background-color: rgb(232, 232, 232);
    border: 1px solid lightgray;
}

.vis-port-container {
}

.vis-port label {
    left: 22px;
    margin: 0;
    font-size: 14px;
}

.vis-port > div {
    position: absolute;
    left: 22px;
    display: inline-block;
    background-color: white;
    opacity: 0.9;
}
