.vis-svg-axis-label {
    font-size: 14px;
    fill: #000;
}

.vis-svg-axis-label-x {
    text-anchor: start;
}

.vis-svg-axis-label-y {
    text-anchor: middle;
}

.vis-svg-scatter-circle {

}

.vis-svg-scatter-selected {
	fill: red;
}

.vis-svg-scatter-highlighted {
	fill: #00ff1e;
}
