.vis-ui-connecting {
    border-color: blue;
}

.vis-ui-dragging {
    cursor: move;
    opacity: 0.8;
    border-color: black;
    z-index: 100;
}

.vis-ui-resizing {
    opacity: 0.8;
    border-color: red;
    z-index: 100;
}

.vis-ui-resize-handle {
    position: absolute;
}

.vis-ui-resize-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.vis-ui-resize-e {
    cursor: e-resize;
    width: 7px;
    height: 100%;
    right: -5px;
    top: 0;
}

.vis-ui-resize-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.vis-ui-resize-w {
    cursor: w-resize;
    width: 7px;
    height: 100%;
    left: -5px;
    top: 0;
}

.vis-ui-resize-se {
    cursor: se-resize;
    width: 11px;
    height: 11px;
    right: -6px;
    bottom: -6px;
}

.vis-ui-resize-sw {
    cursor: sw-resize;
    width: 11px;
    height: 11px;
    left: -6px;
    bottom: -6px;
}

.vis-ui-resize-ne {
    cursor: ne-resize;
    width: 11px;
    height: 11px;
    right: -6px;
    top: -6px;
}

.vis-ui-resize-nw {
    cursor: nw-resize;
    width: 11px;
    height: 11px;
    left: -6px;
    top: -6px;
}
