.vis-widget {
    position: absolute;
    background-color: rgb(242, 242, 242);
    cursor: move;
    border: 1px solid lightgray;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.vis-widget-label {
    display: inline-block;
    cursor: auto;
}

.vis-widget-label-wrapper {
    text-align: center;
    margin: 10px;
}

.vis-widget-svg-container {
    background-color: rgb(254, 254, 254);
    cursor: auto;
    margin: 10px;
}

.vis-widget-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

.vis-widget-select {
    display: inline-block;
    cursor: pointer;
}

.vis-widget-select-wrapper {
    text-align: center;
    margin: 10px;
}
