.vis-widget {
    position: absolute;
    background-color: rgb(242, 242, 242);
    cursor: move;
    border: 1px solid lightgray;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.vis-widget-label {
    display: inline-block;
    cursor: auto;
}

.vis-widget-label-wrapper {
    margin: 10px;
}

.vis-widget-select {
    display: inline-block;
    cursor: pointer;
}

.vis-widget-select-wrapper {
    margin: 10px;
}

.vis-widget-container {
    background-color: rgb(254, 254, 254);
    cursor: auto;
    margin: 10px;
}

.vis-widget-dragging {
    cursor: move;
    opacity: 0.8;
    border-color: black;
    z-index: 100;
}

.vis-widget-resizing {
    opacity: 0.8;
    border-color: red;
    z-index: 100;
}

.vis-widget-resize-handle {
    position: absolute;
}

.vis-widget-resize-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.vis-widget-resize-e {
    cursor: e-resize;
    width: 7px;
    height: 100%;
    right: -5px;
    top: 0;
}
.vis-widget-resize-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.vis-widget-resize-w {
    cursor: w-resize;
    width: 7px;
    height: 100%;
    left: -5px;
    top: 0;
}

.vis-widget-resize-se {
    cursor: se-resize;
    width: 11px;
    height: 11px;
    right: -6px;
    bottom: -6px;
}
.vis-widget-resize-sw {
    cursor: sw-resize;
    width: 11px;
    height: 11px;
    left: -6px;
    bottom: -6px;
}
.vis-widget-resize-ne {
    cursor: ne-resize;
    width: 11px;
    height: 11px;
    right: -6px;
    top: -6px;
}
.vis-widget-resize-nw {
    cursor: nw-resize;
    width: 11px;
    height: 11px;
    left: -6px;
    top: -6px;
}
